<!DOCTYPE html>
<html ng-app="MeetUpAPI">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Meetup-togo</title>
  </head>
  <body id="main-container">
    <h1>Meetup-<i>togo</i></h1>

    <div class="main-search-form" ng-controller="CategoryController">
      
      <label>
        <!-- Category: -->
        <select ng-model="selected">
          <option ng-repeat="option in category.results | orderBy: 'id'"  value="{{option.id}}">{{option.name}}</option>
        </select>
      </label>

      <label>
        <input placeholder="Enter Zip Code" type="text" name="zip-code" ng-model="zipcode" />
      </label>

      <button ng-click="findGroup(zipcode, selected)">Meetup!</button>


      <p>&nbsp;</p>
      <table class="main-search-table" ng-hide="groupTable">
        <thead>
          <th>Group Name</th>
          <th>Group Members</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr ng-repeat="group in groups.results">
            <td><a href="{{ group.link }}" target="_blank">{{ group.name}}</a></td>
            <td>{{ group.members }}</td>
            <td>{{ group.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Scripts -->
    <!-- <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>