body {
  font-size: 18px;
  font-family: Helvetica, Arial, Sans-Serif;
}

/*
    MAIN WRAPPER
*/
#main-container {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

/*
    SEARCH FORM
*/
.main-search-form {
  border-radius: 12px;
  padding: 15px;
  background: #ed1c40;
}

label {
  width: 40%;
  padding: 16px 8px;
  margin: 0 auto;
  margin-right: 10px;
}

.main-search-form select {
  font-size: 24px;
}

.main-search-form input {
  font-size: 18px;
  padding: 8px 8px;
  border: 1px solid white;
  border-radius: 4px;
}

.main-search-form button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  background: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

/*
    SEARCH RESULTS DATA TABLE
*/
.main-search-table {
  margin-top: 20px;
  border-collapse: collapse;
  /*width: 100%;*/
  font-size: 14px;
  table-layout: fixed;
  background: #fff;
}

.main-search-table table,
.main-search-table th,
.main-search-table td {
  border: 1px solid black;
}

.main-search-table th,
.main-search-table td {
  padding: 5px 10px;
}

/*
    HANDLE LONG STRINGS IN DATA TABLE
*/
.main-search-table td {
  width: 15%;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.main-search-table td:last-child {
  width: 70%;
  text-align: left;
}
